
@{
    ViewBag.Title = "Brook Blackburn's Site";
}


<div class="jumbotron text-center">
    <div class="jumbo-margin">
        <p class="welcome-message">The Professional Website of</p>
        <div class="welcome-brand">
            <h1>Brook Blackburn</h1>
        </div>
    </div>
</div>

<section id="about">
    <div class="row">
        <hr />
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3><strong>About :</strong></h3>
            <p>
                Currently, Brook Blackburn is an IT Intern at Zirmed. It took her a couple of years to
                figure out exactly what she "wanted to do when she grew up",
                but her Grandpa helped her by doing tons of research on different fields of
                interest and suggested Computer Sciences. With that being said, she is very excited
                to continue this adventure.
                <br />
                To start her education, Brook attended Madisonville Community College and graduated
                with an Associate in Science in May 2014 with an Outstanding Student of the Year award.
                She then transferred to the University of Louisville. Brook plans to graduate in May of 
                2017 with a Bachelor of Business Administration in Computer Information Systems. When 
                she is not busy with work and school, Brook loves to travel (near and far).
            </p>
            <br />
            <hr />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</section>

<section id="contact">
    <div class="text-center container-fluid text-primary content-container">
        <h3 class="text-uppercase"><strong>Contact :</strong></h3>
        <p>
            Email: <a href="mailto:brook.blackburn@zirmed.com">brook.blackburn@zirmed.com</a><br />
            Phone: <a href="tel:+12708367915">(270) 836-7915</a> <br />
            Linked In: <a href="http://www.linkedin.com/in/brookblackburn">www.linkedin.com/in/brookblackburn</a>
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <a href="tel:+12708367915">
            <img src="http://www.ems.org.eg/emsadmin/uploads/userfiles/image/phone-icon.png"
                 alt="phone" style="width:80px;">
        </a>
        <a href="http://www.linkedin.com/in/brookblackburn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png"
                 alt="linkedin" style="width:80px;">
        </a>
        <a href="mailto:brook.blackburn@zirmed.com">
            <img src="http://www.freeiconspng.com/uploads/email-icon-23.png" alt="email" style="width:80px;">
        </a>
    </div>
</section>